body{
    background-color:#E2F3C2;
}
#cfact{
    width: 100%;
    text-align: center;
    border: red 1px solid;
    font: 250% sans-serif;
}
#nitem{
    border: red 1px solid;
}
#detalles{
    width: 30%;
    border: red 1px solid;
}
#cant{
    width: 20%;
    border: red 1px solid;
}
#cunit{
    width: 20%;
    border: red 1px solid;
}
#ctot{
    width: 20%;
    border: red 1px solid;
}

#nitem1{
    border: red 1px solid;
    font:  oblique 80% cursive;
}
#detalles1{
    width: 30%;
    border: red 1px solid;
    font: oblique 80% cursive;
}
#cant1{
    width: 20%;
    border: red 1px solid;
    font: oblique 80% cursive;
}
#cunit1{
    width: 20%;
    border: red 1px solid;
    font: oblique 80% cursive;
}
#ctot1{
    width: 20%;
    border: red 1px solid;
    font: oblique 80% cursive;
}
.nitemf{
    border: none 1px solid;
}