
#cfact{
    width: 100%;
    text-align: center;
    border: red 1px solid;
}
#nitem{
    width: 10%;
    border: red 1px solid;
}
#detalles{
    width: 20%
}
#cant{
    width: 20%;
}
#cunit{
    width: 20%;
}
#ctot{
    width: 20%;
}