#cfact{
    text-align: center;
    border: red 2px solid;
    margin: 10px,
}
#cuerpo
        {
        margin: 10px;
        border: red 2px solid;
        width: 20%;
    }
#izquierda
        {
        padding: 0px;
        margin: 0px;
        width: 291px;
        height: 100%;
        background-color: #d0cece;
        float: left;
    }
#centro
        {
        padding: 0px;
        margin: 0px;
        width: 100%;
        height: 100%;
        background-color: #ffffff;             
    }
#derecha
        {
        padding: 0px;
        margin: 0px;
        width: 100%;
        height: 100%;
        background-color: #d0cece;             
        float: right;
}