#menu{
    /*border-top-style: solid;*/
    width: 50%; 
    margin:5px;
    /*border-width: thick ;
    border-top-color: black solid;
    border-right: black solid;
    border-left: black solid;
    padding: 5px;
    float: unset;
    height: auto;
    min-height: initial;*/
 }
 #boton1{
    width: 10%;
    height: 5%;
 }
 
#catalogo{
    width: 100%;
 }
 #refs{
     float:unset;
 }
 #a1{
     
 }