body {
    background-color:#E2F3C2;
}
#refs{
    font:oblique bold 150% cursive;
}
#inicio{
    background-color: #EEC513;
    border:#695705 5px solid;
}
#menu{
    width: 50%; 
    margin:5px;
 }
 #boton1{
    width: 10%;
    height: 5%;
 }
 
#catalogo{
    width: 100%;
 }
#catalogo{
    width: 60%;
    border-top: black solid;
    text-align: justify;
    color:#382E04;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#oli{
    border-top: black solid;
    text-align: justify;
    color:#382E04;
    width: 40%;
}