#menu{
    width: 50%;
    font:oblique bold 90% cursive;
    border: #3C7913 3px solid;
    background: #7BC318;
}
.items{
    text-align: center;
    background-color: #3C7913;
    width: 24%;
    margin: 10px;
    border:red 1px solid;
}
#cas{
    text-align: center;
    width: 20%;
    margin: 10px;
    border: #3C7913 3px solid;
}
#mot{
    text-align: center;
    width: 20%;
    margin: 10px;
    border: #3C7913 3px solid;
}
#cel{
    text-align: center;
    width: 20%;
    margin: 10px;
    border: #3C7913 3px solid;
}
#tel{
    text-align: center;
    width: 20%;
    margin: 10px;
    border: #3C7913 3px solid;
}